div(ng-include='"components/navbar/navbar.html"')
.container
	//- p
	//- 	| The delete user and user index api routes are restricted to users with the 'admin' role.
	//- ul.list-group
	//- 	li.list-group-item(ng-repeat='user in users')
	//- 		strong {{user.name}}
	//- 		br
	//- 		span.text-muted {{user.email}}
	//- 		a.trash(ng-click='deletedd(user)')
	//- 			span.glyphicon.glyphicon-trash.pull-right
	form(name="ezship_form")
		h2.page-header Ezship Form
			small.pull-right To Do: 計算出每筆訂單手續費...
		.form-group
			label(for='exampleInputFile') File input
			input#ezhip_file(type='file', name="ezship_file", ngf-select, ng-model="ezship_file", ng-change="summary = ''")
			p.help-block Example block-level help text here.
		.checkbox
			label
				input(type='checkbox')
				|  Check me out
		button.btn.btn-default(type='submit', ng-click="submit_ezship_form()") Submit
		button.btn.btn-danger(type='button', ng-click="analyse_ezshp_accounting()", ng-disabled="!with_btn_anaylse_enabled") Analyse
	div(ng-hide="!summary")
		h2.page-header Summary
		ul
			li.h4 收款記帳日期：{{balanced_document}}
			li.h4 正常完成筆數：{{summary.balanced_records.length}} 件，應收帳款(未扣斗牛手續費)：{{summary.accounts_receivable | currency: "$": 0}} 元
			li.h4 信用卡筆數：{{summary.credit_card_records.length}} 件
			li.h4 重複記錄正常訂單(同收款記帳日期)：{{summary.double_counted_normal_records.length}} 件
			li.h4(style="color:red") 重複記錄異常訂單：{{summary.double_counted_anomaly_records.length}} 件
			li.h4(style="color:red") 訂單初始狀態並非“已出貨超商付款”：{{summary.initial_status_anomaly_records.length}} 件
			li.h4(style="color:red") 其他異常筆數：{{summary.issued_records.length}} 件，短收款項：{{summary.accounts_receivable_shortage | currency: "$": 0}} 元
	div.panel.panel-default(ng-hide="!summary.issued_records")
		.panel-heading 
			h3 其他異常筆數(共有 {{summary.issued_records.length}} 件)
		.panel-body
			ol
				li 短收款項：{{summary.accounts_receivable_shortage | currency: "$": 0}} 元
				li 若『應執行動作』為“檢查訂單編號”，則到斗牛提供之每週報表檢查『商品備註』是否有“配送異動”。
				li 若『應執行動作』為“檢查代收金額”，至斗牛官網查詢該筆訂單是否被退回物流中心，若是，請依問題件退回；若否，則客服斗牛追蹤該筆訂單
		table.table.table-hover.table-bordered
			tr
				th 筆數
				th 配送編號
					br
					input(ng-model="search_issued_records.ezship_id")
				th 訂單編號
					br
					input(ng-model="search_issued_records.order_id")
				th 斗牛代收金額
					br
					input(ng-model="search_issued_records.total")
				th 短收
				th 應執行動作
			tr(ng-repeat="record in summary.issued_records | filter: search_issued_records")
				td {{$index+1}}
				td {{record.ezship_id}}
				td {{record.order_id}}
				td {{record.total | currency: "$": 0}}
				td {{record.balanced | currency: "$": 0}}
				td {{record.action}}
	div.panel.panel-default(ng-hide="!summary.double_counted_anomaly_records.length")
		.panel-heading 
			h3 重複記錄異常訂單(共有 {{summary.double_counted_anomaly_records.length}} 件)
		.panel-body
			ol
				li 短收款項：{{summary.accounts_receivable_double_counted | currency: "$": 0}} 元
				li 追查此單第一次關帳文件，若有出入，打給斗牛追查。
		table.table.table-hover.table-bordered
			tr
				th 筆數
				th 訂單編號
					br
					input(ng-model="search_double_counted_records.order_id")
				th 金額
					br
					input(ng-model="search_double_counted_records.total")
				th 短收
				th 斗牛對帳文件
					br
					input(ng-model="search_double_counted_records.balanced_document")
				th 應執行動作
			tr(ng-repeat="record in summary.double_counted_anomaly_records | filter: search_double_counted_records")
				td {{$index+1}}
				td {{record.order_id}}
				td {{record.total | currency: "$": 0}}
				td {{record.balanced | currency: "$": 0}}
				td {{record.balanced_document}}
				td {{record.action}}
	div.panel.panel-default(ng-hide="!summary.initial_status_anomaly_records.length")
		.panel-heading 
			h3 訂單初始狀態並非“已出貨超商付款”(共有 {{summary.initial_status_anomaly_records.length}} 件)
		.panel-body
			ol
				li 追查此單第一次關帳文件，若有出入，打給斗牛追查。
		table.table.table-hover.table-bordered
			tr
				th 筆數
				th 訂單編號
					br
					input(ng-model="search_initial_status_anomaly_records.order_id")
				th 金額
					br
					input(ng-model="search_initial_status_anomaly_records.total")
				th 短收
				th 斗牛對帳文件
					br
					input(ng-model="search_initial_status_anomaly_records.balanced_document")
				th 應執行動作
			tr(ng-repeat="record in summary.initial_status_anomaly_records | filter: search_initial_status_anomaly_records")
				td {{$index+1}}
				td {{record.order_id}}
				td {{record.total | currency: "$": 0}}
				td {{record.balanced | currency: "$": 0}}
				td {{record.balanced_document}}
				td {{record.action}}
	div.panel.panel-default(ng-hide="!summary.balanced_records")
		.panel-heading 
			h3 Balanced Records(共有 {{summary.balanced_records.length}} 件)
		.panel-body
			ol
				li 收款記帳日期：{{balanced_document}}
				li 應收帳款(未扣斗牛手續費)：{{summary.accounts_receivable | currency: "$": 0}} 元
		table.table.table-hover.table-bordered
			tr
				th 筆數
				th 配送編號
					br
					input(ng-model="search_balanced_records.ezship_id")
				th 訂單編號
					br
					input(ng-model="search_balanced_records.order_id")
				th 斗牛代收金額
					br
					input(ng-model="search_balanced_records.total")
				th 短收
				th 斗牛對帳文件
				th 應執行動作
			tr(ng-repeat="record in summary.balanced_records | filter: search_balanced_records")
				td {{$index+1}}
				td {{record.ezship_id}}
				td {{record.order_id}}
				td {{record.total | currency: "$": 0}}
				td {{record.balanced | currency: "$": 0}}
				td {{record.balanced_document}}
				td {{record.action}}
